.rc-rate-star {
	margin-right: 2px;
	pointer-events: none;
}

.rc-rate-star-half:hover .rc-rate-star-first,
.rc-rate-star-full:hover .rc-rate-star-second {
	color: black !important;
}

.rc-rate-star-half .rc-rate-star-first,
.rc-rate-star-full .rc-rate-star-second {
	color: black;
}
